header.menu {
    width: 100% !important;
}

.imoge {
    margin: 0 !important;
    width: 19%;
    /* padding-left: 2%; */
}

.imoge a {
    outline: none;
    color: white;
    margin-right: 4px;
}
.imoge a i{
    color: #f3752b;
    font-size: 44px;
    /* -webkit-text-stroke-width: 1px; */
    /* stroke-width: 1px; */
}
/* .diminuir{
    -webkit-text-stroke: 2px white;
    background-color: #f3752b;
    font-size: 42px;
} */

.imoge a svg {
    font-size: 3.4vw !important;
}

@media screen and (max-width:1008px) {
    .imoge a i{
        font-size: 35px !important;
    }
}

@media screen and (max-width:947px) {
    .imoge a i{
        font-size: 30px !important;
    }
}

@media screen and (max-width:627px) {
    .imoge a i{
        font-size: 25px !important;
    }
}

@media screen and (max-width:412px) {
    .imoge a{
        margin-right: 2px !important;
    }
    .imoge a i{
        font-size: 21px !important;
    }
}

.menu-logo {
    background: transparent !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    /* width: 100% !important; */
}

.menu-logo .imoge a img{
    width: 3.2vw;
}


.img-menu {
    width: 58%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-menu-img {
    width: 50%;
    /* height: 6rem; */
    object-fit: contain;
}

.imoge{
    width: 20%;
    padding-left: 2%;
}

.filie {
    display: inline-flex !important;
    width: 22%;
}

.filie .filie-a{
    /* width: 1000%; */
    text-align: center;
    color: #f3752b;
    font-size: 1.01em;
    font-weight: 600;
    /* margin-right: 2%; */
}

.filie :nth-child(1){
    margin-right: 5%;
}

.img-filie {
    width: calc(48%+12%) !important;
    height: 2.1em;
}

header.menu div.menu-logo div.imoge a{
    text-decoration: none;
} 
header.menu div.menu-logo div.imoge a svg:hover{
    transform: scale(1.13);
} 

.imoge a svg path, .imoge a svg use{
    color: #f3752b;
    fill: #f3752b;
}
