@media screen and (max-width:46rem) {
    header {
        /* margin: 0 8% !important; */
    }
    nav {
        padding: 0 0 0 0 !important;
            display: flex;
            align-items: baseline;
            justify-content: center;
    }
    .menu-logo,
    .imoge,
    .img-menu {
        display: block !important;
        /* width: 100% !important; */
        text-align: center !important;
    }
    .img-menu {
        width: 40% !important;
    }
    .img-filie {
        width: 76% !important;
        height: 1.1em !important;
    }
    .filie {
        display: inline-flex !important;
        width: 50% !important;
        font-size: .5rem !important;
    }
    .filie,
    nav ul {
        display: block !important;
    }
    /* menuuuuu */
    .menu-container:hover .menu-slide {
        -o-transform: translate(270px, 0);
        -moz-transform: translate(270px, 0);
        -ms-transform: translate(270px, 0);
        -webkit-transform: translate(270px, 0);
        transform: translate(270px, 0);
        opacity: 1;
    }
    nav ul li {
        margin: 10px !important;
        padding: 10px 20px;
    }
    label {
        display: flex !important;
        margin-bottom: 0 !important;
    }
    .menu-container .menu-btn {
        display: block;
        color: #e9853b;
        /* position: fixed; */
        /* top: 10px; */
        /* left: 10px; */
        cursor: pointer;
        z-index: 10000;
        font-size: 19px;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        padding: 1%;
    }
    .menu-container .menu-btn:hover {
        color: #666666;
    }
    .menu-container .menu-slide {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #e9853b;
        height: 100%;
        left: -270px;
        top: 0;
        width: 206px;
        overflow-y: auto;
        z-index: 10000;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -webkit-transition: 6s ease-in-out;
        transition: 0.3s ease-in-out;
        position: fixed;
        opacity: 0;
    }
    .menu-container .menu-slide .menu-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .menu-container .menu-slide .menu-list .menu-item a {
        padding: 8px;
        display: block;
        text-decoration: none;
        color: #333333;
        transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
    }
    .menu-container .menu-slide .menu-list .menu-item a:hover {
        color: #FFF;
        background-color: #333;
        transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
    }
    /* fim  menu */
    .video,
    .conteudo-beneficios,
    .mapa {
        width: 97%;
    }
    .lista-noticias li {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .lista-noticias li img,
    .enviar,
    table {
        width: 100%;
    }
    form {
        margin: 40px 20px;
    }
    .input-padrao {
        width: 88%;
    }

    .lista-noticias h2, .lista-noticias p {
        font-size: 0.9em !important;
    }

    header.menu{
        width: 100% !important;
    }

    .imoge{
        width: 40% !important;
    }
    .imoge a img{
        width: 2.85vh !important;
    }

    .img-menu-img{
        width: 154px !important;
    }
}

.youtube-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.video-youtube{
    width: 90%;
    height: 100%;
}