
header.menu-nav{
    width: 100%;
    background-color: #f3752b;
}

header.menu-nav nav ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;
}

header.menu-nav nav ul li{
    padding: .8% .9%;
    font-size: 1.1em;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    letter-spacing: .1em;
    position: relative;
    border-top: 3px solid #f3752b;
}
header.menu-nav nav ul li.right-item{
    position: absolute;
    right: 3%;
}
header.menu-nav nav ul li.dropdown label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

header.menu-nav nav ul li label div.dropdown-container div.drop-item{
    padding: 2% 2%;
    cursor: pointer;
}
header.menu-nav nav ul li label{
    cursor: pointer;
    margin-bottom: 0 !important;
}
header.menu-nav nav ul li label div.dropdown-container div.drop-item:hover{
    background-color: #f3752b;
}

header.menu-nav nav ul li a{
    color: #fff;
    text-decoration: none;
}
header.menu-nav nav ul li:hover > a{
    color: #a20021;
}

header.menu-nav nav ul li input.dropdown-check ~ label div.dropdown-container {
    position: absolute;
    background-color: #a20021;
    color: #fff;
    top: 100%;
    min-width: 40vh;
    flex-direction: column;
    -webkit-box-shadow: 10px 14px 55px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 14px 55px -24px rgba(0,0,0,0.75);
    box-shadow: 10px 14px 55px -24px rgba(0,0,0,0.75);
    transform: scaleY(0);  
    z-index: 10000;
    cursor: pointer;
    transition: transform 0.26s ease;
  }
header.menu-nav nav ul li input.dropdown-check:checked ~ label div.dropdown-container{
    transform: scaleY(1);
}

header.menu-nav nav ul li input.dropdown-check{
    display: none;
}

header.menu-nav nav ul li:hover{
    border-top: 3px solid #a20021;
    color: #a20021;
}

header.menu-nav nav ul li label span.triangulo{
    transition: transform 1s;
}

header.menu-nav nav ul li:hover > label span.triangulo{
    border-top-color: #a20021;
    border-bottom-color: #a20021;
    color: #a20021;
}

header.menu-nav nav ul li input.dropdown-check:checked ~ label span.triangulo{
    border-top-color: #a20021;
    border-bottom-color: #a20021;
    transform: rotate(180deg);
}

header.menu-nav nav ul li:hover > label a.title{
    color: #a20021;
}

header.menu-nav nav ul li span.triangulo-para-baixo {
    margin-left: 3%;
    width: 0; 
    height: 0; 
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-top:10px solid #fff;
  }



/* header.menu-nav { */
    @media screen and (max-width:1050px) {
        header.menu-nav {
            position: fixed;
            z-index: 10000;
            width: 100%;
            height: 100vh;
            top: 0;
            background-color: rgba(0,0,0,0.75);
            flex-direction: column;
            left: -100%;
            transition: transform 0.36s ease;
        }
        header.menu-nav nav {
            width: 60%;
            background-color: #f3752b;
            height: 100vh;
            top: 6.9vh;
            position: absolute;
            /* display: none; */
        }
        label.hamburger-label{
            justify-content: flex-end !important;
            z-index: 10001;
            display: flex !important;
        }

        div.menu-logo{
            margin-top: 7vh;
        }
    }