.noticias {
    background-color: #ffffff;
    padding: 4% 0;
}



.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    opacity: 0.7;
    clear: left;
}

iframe {
    width: 100%;
    height: 100vh;
    border: 0;
}

.mapa {
    width: 100%;
    margin: 0 auto;
    padding: 3em 0;
    /* background: linear-gradient(#fefefe, #888888); */
}

.mapa p {
    /* margin: 0 0 2em; */
    text-align: center;
}