.menu-btn {
    display: none;
}

section.menu {
    background: linear-gradient( 45deg, #e67b2ce0, #e96500);
    color: white;
}

nav {
    padding: 24px 0 12px 0;
    text-align: center !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

nav ul {
    display: inline-flex !important;
}

nav ul li {
    /* margin: 10px !important; */
    list-style: none;
    padding: 0 20px;
}

nav a {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

