.menu-btn {
    display: none;
}

section.menu {
    background: linear-gradient( 45deg, #e67b2ce0, #e96500);
    color: white;
    height: 20%;
    width: 100%;
}

nav {
    padding: 24px 0 12px 0;
    text-align: center !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    /* margin: 10px !important; */
    list-style: none;
    padding: 0 20px;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0 !important;
}

nav li {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.15em;
    text-decoration: none;
}
nav li a {
    color: #ffffff;
    font-weight: bold;
    /* font-size: 1.15em; */
    text-decoration: none;
}

nav li a:hover {
    color: red;
    /* background-color: red; */
    text-decoration: none;
}
nav li:hover {
    color: red;
    /* background-color: red; */
    text-decoration: none;
}

nav li:hover > div div.dropdown label div.drop-title div#triangulo-para-baixo{
    border-bottom-color: red !important;
    border-top-color: red;
}

